.cu_hero {
    z-index: 1010;
    // min-height: 85vh;
    padding-top: 120px;
    padding-bottom: 120px;
   
}

.badge {
    font-size: var(--bs-body-font-size);
    font-weight:400;
    color: #4b4b4b;
}