.brandLogo {
    width: 100px;
    display: inline-block;
    margin: 8px;
    margin-left: 16px;
}

.bg-journin-light {
    background-color: #F9Fae8;
}

.list-number {
    // width: 20px;
    // height: 20px;
    border-radius: 50%;
    background-color: #75AEC7;
    color: #fff;
    padding: 4px 9px;
    margin-right: 4px;
}