.overview-title::before,
.overview-title::after {
    display: inline-block;
    content: "";
    border-top: 1px solid #4b4b4b;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-.5rem);
}

hr {
    opacity: 0.15;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #4b4b4b;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #4b4b4b;
}

a.shadow-sm {
    transition: all .3s;
}
a.shadow-sm:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(-10px);
}

