.bg-portaly-light {
    background-color: #f6f3ff;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
    background-color: #f9f7ff;
}

.border-portaly2 {
    border-color: #8b6cd9;
}

.border-portaly3 {
    border: 2px solid #eee8fc;
}

.bdr {
    border-radius: 0.375rem;
    overflow: hidden;
    // background-color: #F6F2FF;
    border: #8b6cd9 solid 1px;
}

.portaly-user-table {
}

.portaly-user-table th {
    background-color: #f6f2ff !important;
    padding: 12px;
}

.portaly-user-table td {
    // background-color: #F6F2FF;
    padding: 12px;
}

.portaly-user-table tr:last-child th {
    border-style: none;
}

.portaly-user-table tr:last-child td {
    border-style: none;
}

.table.portaly-user-table > :not(caption) > * > * {
    background-color: transparent;
}

.btn-outline-portaly:hover {
    background-color: #8b6cd9;
    color: #fff;
}

.framer-3un58d {
    background-color: var(--token-7656416d-aec7-4273-97a1-72aeaaf04dc9, #f8f9fa);
    bottom: 0;
    // box-shadow: 0 4px 16px #f7f7f7;
    flex: none;
    height: 41px;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 40px;
}

.framer-13tfko2 {
    background-color: var(--token-77fbd437-631b-40d5-9003-0328486ce1d7, #d5d7d9);
    bottom: 13px;
    flex: none;
    height: 40px;
    overflow: hidden;
    position: absolute;
    right: -3px;
    width: 79px;
    z-index: 1;
}

.portaly ul li {
    list-style-image: url("../../image/portaly/dot.svg");
}