.bg-portaly-light {
    background-color: #f5f1ff;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
    background-color: #f9f7ff;
}

.border-portaly2 {
    border-color: #8b6cd9;
}

.border-portaly3 {
    border: 2px solid  #eee8fc;
}

.bdr {
    border-radius: 0.375rem;
    overflow: hidden;
    // background-color: #F6F2FF;
    border: #8b6cd9 solid 1px;
}

.portaly-user-table {
}

.portaly-user-table th {
    background-color: #f6f2ff !important;
    padding: 12px;
}

.portaly-user-table td {
    // background-color: #F6F2FF;
    padding: 12px;
}

.portaly-user-table tr:last-child th {
    border-style: none;
}

.portaly-user-table tr:last-child td {
    border-style: none;
}

.table.portaly-user-table > :not(caption) > * > * {
    background-color: transparent;
}
