// .home {
//     &__bg {
//         background-image: url(../image/bg.PNG);
//         background-position: left top;
//         background-size: cover;
//         width: 100%;
//         height: 100%;
//     }
// }

.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: Regular;
    font-style: normal;
}

.eb-garamond {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.navbar-brand,
.nav-link {
    color: #4b4b4b;
}
