.nav_box.show {
    display: block;
}

.nav_box {
    display: none;
    position: fixed;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    transition: all .3s;
    margin: 0;
    padding: 10px 0;
    width: 180px;
    
}

.nav_box a {
    display: block;
    text-decoration: none;
    padding-bottom: 16px;
    text-align: right;
    color: #4c4c4c;
    letter-spacing: 1px;
    transition: all .2s;
}

.nav_box .active {
    color: #212121;
    font-weight: 700;
    font-size: 14px;
}

.nav_box a:hover {
    color: #212121;
    font-weight: 700;
    font-size: 14px;
}