.nav_box.show {
    display: block;
}

.nav_box {
    display: none;
    position: fixed;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    transition: all .3s;
    margin: 0;
    padding: 10px 0;
    width: 180px;
    
}

.nav_box a {
    display: block;
    text-decoration: none;
    padding-bottom: 16px;
    text-align: right;
    color: #4c4c4c;
    letter-spacing: 1px;
    transition: all .2s;
}

.nav_box .active {
    color: #212121;
    font-weight: 700;
    font-size: 14px;
}

.nav_box a:hover {
    color: #212121;
    font-weight: 700;
    font-size: 14px;
}


.jump_top.show {
    display: inline-block;
}

.jump_top {
    display: none;
    border: 2px solid #333;
    border-radius: 5px;
    transition: opacity .5s;
    position: fixed;
    right: 30px;
    bottom: 30px;
    box-shadow: 3px 3px 0 0 rgba(50, 50, 50, 0.5);
    width: 50px;
    height: 50px;
    line-height: calc(50px - 4px);
    background: #fdfbf5 url(../images/journin/jump_top.svg) 50% 50% no-repeat;
}


@media (max-width:768px) {
	.jump_top {
		right: 15px;
		bottom: 50px;
		width: 40px;
		height: 40px;
		line-height: calc(40px - 4px);
	}

	.jump_top::before {
		font-size: 20px;
	}
}
