.nav_box.show {
    display: block;
}

.nav_box {
    display: none;
    position: fixed;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    transition: all .3s;
    margin: 0;
    padding: 10px 10px;
    width: 150px;
}

@media (max-width: 1320px) {
    .nav_box.show {
        right: -150px;
    }

    .nav_box.show.open {
        right: 15px;
        background-color: #fff;
        border: 2px solid rgb(223, 223, 223);
        border-radius: 6px;
        padding: 10px;
    }
}


.nav_box a {
    display: block;
    text-decoration: none;
    padding-bottom: 14px;
    text-align: right;
    color: #808080;
    letter-spacing: 1px;
    transition: all .2s;
}

.nav_box a.active {
    color: #4e4e4e;
    font-weight: 700;
    font-size: 12px;
}

.nav_box a:hover {
    color: #4e4e4e;
    font-weight: 700;
    font-size: 12px;
}

.nav_box button {
    position: absolute;
    top: 20px;
    right: 100%;
    background: #fff;
    border: 2px solid rgb(223, 223, 223);
    border-right: none;
    border-radius: 6px 0 0 6px;
    // box-shadow: 3px 3px 0 0 rgba(50, 50, 50, 0.5);
    width: 35px;
    height: 50px;
    display: none;
    background: #ffffff url(../image/journin/arrow_l.svg) 50% 50% no-repeat;
}

.nav_box.open button {
    background: #ffffff url(../image/journin/arrow_r.svg) 50% 50% no-repeat;
}

.nav_box.open button {
    display: none;
}

.nav_box button {
    display: none;
}

@media (max-width: 1320px){
    .nav_box button {
        display: inline-block;
    }

    .nav_box.open button {
        display: inline-block;
    }
}


// go to top
.jump_top.show {
    display: inline-block;
}

.jump_top {
    display: none;
    border: 2px solid rgb(223, 223, 223);
    border-radius: 500px;
    transition: opacity .5s;
    position: fixed;
    right: 30px;
    bottom: 30px;
    // box-shadow: 3px 3px 0 0 rgba(50, 50, 50, 0.5);
    width: 50px;
    height: 50px;
    line-height: calc(50px - 4px);
    background: #ffffff url(../image/journin/jump_top.svg) 50% 50% no-repeat;
}


@media (max-width:768px) {
    .jump_top {
        right: 15px;
        bottom: 50px;
        width: 40px;
        height: 40px;
        line-height: calc(40px - 4px);
    }

    .jump_top::before {
        font-size: 20px;
    }
}